*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 56px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-size: 28px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}

p{
    font-size: 21px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8;
    color: #868686;
}

a{
    font-size: 21px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    color: blue;
}

/* NAV */

nav{
    width: 100%;
    max-width: 2400px;
    background-color: #333;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

nav ul {
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    display: block;
    margin: auto 8px;
}

nav ul li a{
    color: lightgray;
    text-decoration: none;
    font-size: 13px;
}

.apple-logo {
    width: 14px;
    height: 44px;
}

.cart {
    width: 13px;
    height: 44px;
}

nav ul li a:hover {
    color: white;
}

/* mobile nav */

.mobile {
    display: none;
}

.dropdown {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
}

/* MAIN */

main{
    width: 100%;
    max-width: 2400px;
}

main section {
    width: 100%;
    height: 736px;
    margin: 0px auto 10px;
    background-size:  3000px 736px;
    background-position: center;
    background-repeat: no-repeat;
}

main section .content {
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
}

main section .content .nav a{
    padding: 0 8px;
}

.iphone-thirteen {
    background-image: url("https://www.apple.com/v/home/aq/images/heroes/iphone-13/hero_iphone13_avail__gnqqkzuai6um_largetall_2x.jpg");
}

.apple-watch {
    background-image: url("https://www.apple.com/v/home/aq/images/heroes/watch-series-7/hero_watch_lte__b8er858e34gi_largetall_2x.jpg");
}

.apple-watch img {
    width: 188px;
    height: 72px;
}

.back-to-school {
    background-image: url("https://www.apple.com/v/home/aq/images/heroes/back-to-school-2022/hero_bts__bcuslanw39xe_largetall_2x.jpg");
}

.back-to-school span {
    color: #ca2166;
}

.row {
    width: 100%;
    display: flex;
}

.row h1 {
    font-size: 40px;
}

.row p,
.row a {
    font-size: 17px;
}

.row section {
    padding-top: 30px;
    margin: 0 5px 10px;
    background-size: 1262px 580px;
    height: 580px;
}

.macbook-air {
    background-image: url("https://www.apple.com/v/home/aq/images/promos/macbook-air/promo_macbookair__fywl7i82fueu_large_2x.png");
}

.macbook-air img {
    width: 191px;
    height: 31px;
}

.iphone-13-pro {
    background-image: url("https://www.apple.com/v/home/aq/images/promos/iphone-13-pro/promo_iphone13pro_avail__beadms4ldidu_large_2x.jpg");
}

.macbook-pro-13 {
    color: white;
    background-image: url("https://www.apple.com/v/home/aq/images/promos/macbook-pro-13/promo_mbp13__buwssod6c8vm_large_2x.jpg");
}

.macbook-pro-13 img {
    width: 223px;
    height: 51px;
}

.ipad-air {
    color: white;
    background-image: url("https://www.apple.com/v/home/aq/images/promos/ipad-air/promo_ipadair_avail__ferd4bfpcdm6_large_2x.jpg");
}

.ipad-air img {
    width: 133px;
    height: 37px;
}

.card {
    background-image: url("https://www.apple.com/v/home/aq/images/promos/apple-card/tile__cauwwcyyn9hy_large_2x.jpg");
}

.card img {
    width: 108px;
    height: 33px;
}

.fitness {
    color: white;
    background-image: url("https://www.apple.com/v/home/aq/images/promos/apple-fitness-plus-katy-perry/promo_katy_perry__eqekd92guu4i_large_2x.jpg");
}

.fitness img {
    width: 178px;
    height: 38px;
}

.fitness a {
    color: #a6ff00;
}



/* Carousel */

.carousel {
    width: 90%;
    position: relative;
    margin: 20px auto 40px;
    overflow: hidden;
}

.carousel li {
    width: 100%
}

.carousel-track-container {
    position: relative;
    height: 100%;
}

.carousel-track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform .25s ease-in;
}

.carousel-slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .3;
}

.current-slide {
    opacity: 1;
}

.slide-1 {
    background-image: url("https://www.apple.com/v/home/aq/images/tv-plus-gallery/fnb__brvfy48gzsz6_large_2x.jpg");
}
.slide-2 {
    background-image: url("https://is1-ssl.mzstatic.com/image/thumb/IyvoDdhWEjtSADaSryepIw/980x551.jpg");
}
.slide-3 {
    background-image: url("https://is5-ssl.mzstatic.com/image/thumb/McXcp2YSeuDh16Oph0nt6g/980x551.jpg");
}
.slide-4 {
    background-image: url("https://is1-ssl.mzstatic.com/image/thumb/kjrFHClZ3Bt-pT0MJnwdFw/980x551.jpg");
}
.slide-5 {
    background-image: url("https://is3-ssl.mzstatic.com/image/thumb/neRAWaMZZ5xVz4fnbFXJUA/980x551.jpg");
}
.slide-6 {
    background-image: url("https://is1-ssl.mzstatic.com/image/thumb/vPnF3gIE_xEMoXPI1SyluA/980x551.jpg");
}
.slide-7 {
    background-image: url("https://is2-ssl.mzstatic.com/image/thumb/GT66HoV8VJL1IZwaqos_TQ/980x551.jpg");
}
.slide-8 {
    background-image: url("https://is2-ssl.mzstatic.com/image/thumb/78-I7VenST4ztZYfwMf6AQ/980x551.jpg");
}
.slide-9 {
    background-image: url("https://is4-ssl.mzstatic.com/image/thumb/XiXPs1AKOFQE7cq7AVlJeQ/980x551.jpg");
}
.slide-10 {
    background-image: url("https://is3-ssl.mzstatic.com/image/thumb/AWDRdQz0nepFpnsUNiTDuw/980x551.jpg");
}
.slide-11 {
    background-image: url("https://is1-ssl.mzstatic.com/image/thumb/UtRuOihF2zNFPo4g5zUwdA/980x551.jpg");
}

.carousel-content {
    display: flex;
    bottom: 0;
    padding: 25px;
    position: absolute;
    bottom: 0;
}

.carousel-content button {
    margin: 0 40px;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
    background-color: white;
    color: #333;
    cursor: pointer;
}

.carousel-content p {
    color: white;
}

.carousel-nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel-indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(0, 0, 0, .25);
    margin: 0 5px;
    cursor: pointer;
}

.carousel-indicator.current-slide {
    background: rgba(0, 0, 0, .75);
}


/* footer */

footer {
    width: 100%;
    background-color: lightgray;
    padding: 20px;
}

footer .terms {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

footer .terms p {
    font-size: 12px;
    color: #333;
    padding-top: 12px;
}

footer .terms p .underline {
    width: 100%;
    border-bottom: 1px solid #333;
}

/* Accordion */

.accordion {
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 20px;
}

.accordion .col {
    width: 20%;
}

.accordion .col .label p {
    font-size: 12px;
    font-weight: bold;
    color: black;
}

.accordion .col .content{
    list-style: none;
}

.accordion .col .content a {
    font-size: 12px;
    color: #333;
}

.accordion .col .content a:hover {
    text-decoration: underline;
}



@media only screen and (max-width: 799px) {
    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 24px;
    }
    p {
        font-size: 18px;
    }
    a {
        font-size: 18px;
    }


    main section {
        height: 694px;
        background-size: 1068px 694px;
    }

    .row section {
        height: 490px;
        background-size: 516px 490px;
    }
    .row section h1{
        font-size: 32px;
    }
    .row section h2 {
        font-size: 18px;
    }
    .row section p {
        font-size: 16px;
    }
    .row section a {
        font-size: 16px;
    }

    .iphone-thirteen {
        background-image: url("https://www.apple.com/v/home/aq/images/heroes/iphone-13/hero_iphone13_avail__gnqqkzuai6um_mediumtall_2x.jpg");
    }
    
    .apple-watch {
        background-image: url("https://www.apple.com/v/home/aq/images/heroes/watch-series-7/hero_watch_lte__b8er858e34gi_mediumtall_2x.jpg");
    }

    .apple-watch img {
        width: 174px;
        height: 66px;
    }
    
    .back-to-school {
        background-image: url("https://www.apple.com/v/home/aq/images/heroes/back-to-school-2022/hero_bts__bcuslanw39xe_mediumtall_2x.jpg");
    }

    .macbook-air {
        background-image: url("https://www.apple.com/v/home/aq/images/promos/macbook-air/promo_macbookair__fywl7i82fueu_medium_2x.png");
    }
    
    .macbook-air img {
        width: 178px;
        height: 29px;
    }
    
    .iphone-13-pro {
        background-image: url("https://www.apple.com/v/home/aq/images/promos/iphone-13-pro/promo_iphone13pro_avail__beadms4ldidu_medium_2x.jpg");
    }
    
    .macbook-pro-13 {
        color: white;
        background-image: url("https://www.apple.com/v/home/aq/images/promos/macbook-pro-13/promo_mbp13__buwssod6c8vm_medium_2x.jpg");
    }
    
    .macbook-pro-13 img {
        width: 207px;
        height: 48px;
    }
    
    .ipad-air {
        color: white;
        background-image: url("https://www.apple.com/v/home/aq/images/promos/ipad-air/promo_ipadair_avail__ferd4bfpcdm6_medium_2x.jpg");
    }
    
    .ipad-air img {
        width: 112px;
        height: 30px;
    }
    
    .card {
        background-image: url("https://www.apple.com/v/home/aq/images/promos/apple-card/tile__cauwwcyyn9hy_medium_2x.jpg");
    }
    
    .card img {
        width: 88px;
        height: 27px;
    }
    
    .fitness {
        color: white;
        background-image: url("https://www.apple.com/v/home/aq/images/promos/apple-fitness-plus-katy-perry/promo_katy_perry__eqekd92guu4i_medium_2x.jpg");
    }
    
    .fitness img {
        width: 141px;
        height: 32px;
    }

    .carousel {
        height: 400px;
    }

}

@media only screen and (max-width: 680px) {
    /* Mobile Nav */
   .main {
       display: none;
   }

   .mobile {
       display: block;
   }

   .hamburger.active .bar:nth-child(2) {
       opacity: 0;
   }

   .hamburger.active .bar:nth-child(1) {
       transform: translateY(8px) rotate(45deg);
   }

   .hamburger.active .bar:nth-child(3) {
       transform: translateY(-8px) rotate(-45deg);
   }

   .dropdown {
       display: block;
       position: fixed;
       left: -100%;
       background-color: #333;
       transition: .3s;
   }

   .dropdown li {
       margin: 16px auto;
   }

   .dropdown.active {
       left: 0;
   }

   /* single column */

   .row {
       display: block;
   }

   /* footer collapse */

    .accordion {
        display: block;
        width: 90%;
        margin: 0 auto;
    }
   
    .accordion .col {
        width: 100%;
    }

    .accordion .col .box {
        border-bottom: 1px solid #333;
    }

    .accordion .col .box .label::before {
        content: '+';
        position: absolute;
        right: 10%;
    }

    .accordion .col .box.active .label::before {
        content: '-';
    }

    .accordion .col .box ul{
        display: none;
    }

    .accordion .col .box.active ul {
        display: block;
    }

    .slide-1 {
        background-image: url("https://is4-ssl.mzstatic.com/image/thumb/Features122/v4/97/fa/8a/97fa8aff-dc6d-02b7-57b9-2ce6222dd8a1/0e69feb0-fc98-4c3c-b6f2-8c19cc29704d.png/548x1186.jpg");
    }
    .slide-2 {
        background-image: url("https://is4-ssl.mzstatic.com/image/thumb/Features122/v4/4a/e5/14/4ae51416-d078-c739-81fc-ed569e57653b/4ca30bfb-c9c8-4203-b8a5-5a43f3757d84.png/548x1186.jpg");
    }
    .slide-3 {
        background-image: url("https://is1-ssl.mzstatic.com/image/thumb/Features125/v4/d3/9e/3e/d39e3e59-febb-d790-1d9a-db35c539bb47/VEVEMl9DU1QtVFZBLVdXLnBuZw.png/548x1186.jpg");
    }
    .slide-4 {
        background-image: url("https://is3-ssl.mzstatic.com/image/thumb/Features112/v4/90/1b/56/901b565f-405b-0107-eab5-49b584e5b4a4/17a74b4f-e275-4483-9db1-8518decfadc5.png/548x1186.jpg");
    }
    .slide-5 {
        background-image: url("https://www.apple.com/v/home/aq/images/tv-plus-gallery/fnb__brvfy48gzsz6_small_2x.jpg");
    }
    .slide-6 {
        background-image: url("https://is1-ssl.mzstatic.com/image/thumb/Features112/v4/79/d2/f3/79d2f33d-0c47-4eff-a727-3bf3c2958b46/af13f83a-2b5d-4573-8ea0-7328dcce3214.png/548x1186.jpg");
    }
    .slide-7 {
        background-image: url("https://is3-ssl.mzstatic.com/image/thumb/Features126/v4/2b/74/49/2b7449f2-f983-3b2c-6a6b-8ed2a26d12e7/Q1NULVRWQS1XVy1TRVYxX01hcmtzLUhlYWQucG5n.png/548x1186.jpg");
    }
    .slide-8 {
        background-image: url("https://is1-ssl.mzstatic.com/image/thumb/Features122/v4/2d/7d/0b/2d7d0b24-4242-9611-5f98-746323a43edb/b90bed38-0f97-414b-b36a-0c790c326e57.png/548x1186.jpg");
    }
    .slide-9 {
        background-image: url("https://is4-ssl.mzstatic.com/image/thumb/Features122/v4/c5/1b/f5/c51bf51e-6a34-1c18-64af-67ca45db3560/550c8e18-a329-4518-8fa7-0a00ded7f629.png/548x1186.jpg");
    }
    .slide-10 {
        background-image: url("https://is3-ssl.mzstatic.com/image/thumb/Features115/v4/cc/63/f6/cc63f6f6-314d-346e-a671-1df1535d07b3/Q1NULVRWQS1XVy1UTVMyX0hlcm9fQ29udHJvbF9Sb29tLnBuZw.png/548x1186.jpg");
    }
    .slide-11 {
        background-image: url("https://is4-ssl.mzstatic.com/image/thumb/Features112/v4/80/75/32/8075321a-2e74-edce-7820-5af679885492/fd64edec-a322-41a1-80c9-b1694aeeebca.png/548x1186.jpg");
    }

    .carousel {
        height: 80vh;
        margin-bottom: 0;
    }
}